@media (max-width: 767px) {
  #submitBtn {
    margin-top: 10px;
    width: 100%;
  }
  #geoLocationBtn {
    width: 100%;
    margin-top: -10px;
  }
}

@media (min-width: 768px) {
  .search-col {
    padding-right: 0;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .alert-col {
    padding-right: 0;
  }
}

@media (min-width: 992px) {
  #submitBtn {
    width: 100%;
  }
}

.container {
  margin-bottom: 20px;
}

.city-state-heading {
  color: #7F8C8D;
}

.search {
  margin-bottom: 20px;
}

ul {
  border: 1px solid #34495E;
  border-radius: 6px;
}

li {
  color: #7F8C8D;
  border-bottom: 1px dashed #ECF0F1;
  padding: 10px 0 10px 0;
}
