/*csslint ids:false - silence CSSLint message "Don't use IDs in selectors" */

@media (max-width: 767px) {
  h3 {
    font-size: 1.5em;
  }
  .city-state-heading {
    font-size: 1em;
  }
  .alert {
    font-size: 0.8em;
  }
  #cityStateTbox {
    text-align: center;
  }
  #searchBtn {
    width: 100%;
  }
  #locationBtn {
    width: 100%;
  }
  #placeModalWebsite, #placeModalAddress, #placeModalPhoneNum {
    display: block;
  }
}

@media (min-width: 768px) {
  .search-col {
    padding-right: 0;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .alert-col {
    padding-right: 0;
  }
}

#cityStateTbox, #searchBtn, #locationBtn {
  margin-bottom: 10px;
}

#placeModalDistanceWarning {
  margin-bottom: 10px;
  padding: 5px;
  background-color: #fefefe;
  border: 1px solid #e5e5e5;
  color: #D35400;
  font-size: 0.8em;
}

body {
  font-family: "Lato", Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: inherit;
}

.form-control {
  font-size: 0.85em;
}

.form-control:focus {
  box-shadow: none;
}

.btn {
  font-size: 0.85em;
  padding: 10px 15px;
}

.nav-tabs {
  margin-bottom: 20px;
}

.nav-tabs li a:hover {
  background-color: #fff;
}

.badge {
  margin-top: 3px;
  font-size: 0.67em;
}

.city-state-heading {
  color: #555;
}

.hovered, .clicked {
  background-color: #f9f9f9 !important;
}

.modal-body {
  overflow-x: auto;
  font-size: 0.9em;
}

.modal-field,
.modal-distance-info li strong,
.modal-hours-open li span strong {
  padding-right: 4px;
}

.modal-distance-info, .modal-hours-open {
  font-size: 0.9em;
}

.modal-distance-info li, .modal-hours-open li {
  padding-bottom: 5px;
}

.current-day {
  margin: 5px;
}

.current-day span {
  padding: 5px;
  color: #fff;
  background-color: #1ABC9C;
}
